/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.cta-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
}
.cta-buttons p {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.cta-buttons .signup {
  background-color: #ff6600;
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: #f0f0f0;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 36px;
  color: #333;
}

.hero-content p {
  font-size: 24px;
  color: #666;
}

.hero-buttons button {
  margin: 20px 10px 0 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

